<h1>Listing pins</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @pins %> <!-- on remplace le each do par l'affichage des occurences de pin avec @ -->
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>
