<% if user_signed_in? %>
 <h5> <%= current_user.name %>, vous êtes connecté </h5>
<% else %>
<h1>Welcome to Ponch App</h1>
<p>Ponch, l'indexation des fichiers vidéos fait par 
<%= link_to "Fabien Lenoir", "http://www.fabienlenoir.fr" %>
</p>

<p>
<%= link_to "Enregistrez-vous!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
<% end %>